* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c1c1c;
  min-height: 100vh;
}

$greyColor: #515c6f;

.card {
  background-color: #fff;
  width: 380px;
  border-radius: 15px;
  padding: 25px 30px;
  overflow: hidden;
  .top-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    i {
      font-size: 30px;
      color: $greyColor;
    }
    h2 {
      font-weight: 500;
      font-size: 25px;
      color: $greyColor;
      user-select: none;
    }
  }
  .image {
    width: 100%;
    height: 265px;
    margin-top: 25px;
    border-radius: 15px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    img {
      width: 100%;
      height: 100%;
      border-radius: 15px;
    }
  }
  .song-details{
    margin: 30px 0;
    text-align: center;
    h2 {
      color: $greyColor;
      font-weight: bold;
      margin-bottom: 5px;
    }
    p {
      color: $greyColor;
      opacity: 0.9;
      font-size: 15px;
    }
  }
  .progress-area {
    width: 100%;
    height: 4px;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 30px;
    &:hover{
      .progress-bar::before{
        opacity: 1;
      }
    }
    .progress-bar {
      height: inherit;
      width: 0%;
      position: relative;
      background-color: #000;
      border-radius: inherit;
      &::before {
        content: "";
        position: absolute;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        top: 50%;
        right: -5px;
        z-index: 2;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-50%);
        background: inherit;
        transition: opacity 0.2s ease;
      }
    }
  }
  .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    span {
      font-weight: 600;
    }
  }
  .controls{
    margin: 40px 0 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    i {
      font-size: 35px;
      font-weight: bold;
      cursor: pointer;
    }
    .play {
      background-color: #18191c;
      width: 54px;
      height: 54px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #FFF;
      transition: 0.5s ease;
      &:hover{
        background-color: #009bff;
      }
    }
  }
}
